* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
}

.animation {
  width: 1200px;
  height: 600px;
  margin: .5% auto;
  border: 3px solid #999;
  background-color: #eee;
}

.bouncingBall {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f5bc00;
  margin-left: 10%;
  margin-top: 20%;
 
}
@keyframes bouncingBall {
  0% {
    box-shadow: -3px 3px 10px -3px #000000;
  }
  6% {
    transform: translateX(70px);
  }
  8% {
    transform: translateY(310px) translateX(150px) scaleX(1.3);
  }
  10% {
    transform: translateY(-200px) translateX(190px);
  }
  19% {
    transform: translateY(300px) translateX(205px);
  }
  21% {
    transform: translateY(305px) translateX(217px) scaleY(1.3) scaleX(0.7);
  }
  23% {
    transform: translateY(308px) translateX(219px) scaleX(1.3) scaleY(0.7);
  }
  25% {
    transform: translateY(305px) translateX(221px) scaleY(1.3) scaleX(0.7);
  }
  33% {
    transform: translateY(-150px) translateX(270px);
  }
 38% {
    transform: translateY(305px) translateX(300px) scaleY(1.3) scaleX(0.7);
  }
  40%{
    transform: translateY(308px) translateX(305px) scaleX(1.3) scaleY(0.7);
  }
  42% {
    transform: translateY(305px) translateX(310px) scaleY(1.3) scaleX(0.7);
  }
  50%{
    transform: translateY(-100px) translateX(400px);
  }
  60% {
    transform: translateY(305px) translateX(450px) scaleY(1.3) scaleX(0.7);
  }
  62% {
    transform: translateY(308px) translateX(455px) scaleX(1.35) scaleY(0.65);
  }
 64% {
    transform: translateY(305px) translateX(460px) scaleY(1.3) scaleX(0.7);
  }
  70%{
    transform:  translateX(550px);
  }
 78% {
    transform: translateY(305px) translateX(600px) scaleY(1.3) scaleX(0.7);
  }
  80% {
    transform: translateY(308px) translateX(605px) scaleX(1.35) scaleY(0.65);
  }
 82% {
    transform: translateY(305px) translateX(610px) scaleY(1.3) scaleX(0.7);
  }
  90%{
    transform: translateY(100px) translateX(750px);
  }
 96% {
    transform: translateY(305px) translateX(800px) scaleY(1.3) scaleX(0.7);
  }
  97% {
    transform: translateY(308px) translateX(805px) scaleX(1.35) scaleY(0.65);
  }
 98% {
    transform: translateY(307px) translateX(810px) scaleY(1.3) scaleX(0.7);
  }
  99%{
    transform: translateY(306px) translateX(990px);
  }
  100% {
    transform: translateY(308px) translateX(995px);
  }
}
.bouncingBall:hover{
    animation-name: bouncingBall;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-delay: 250ms;
    cursor: pointer;
}
.start {
  width: 150px;
  height: 50px;
  background-color: #000;
  margin-left: calc(10% - 50px);
  margin-top: 1px;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 18px helvetica;
}

